nav
{
    position: fixed;
    left: 50%;
    top: 0;
    font-size: 2em;
    z-index: 10;
    margin-top: 10px;
    width: 1000px;
    text-align: center;
    margin-left: -500px;
}
nav a
{
    text-decoration: none;
    color: #4D4D4D;
    padding: 20px;
}
nav a:hover
{
    color: #000;
}
#main-wrapper,
#register
{
    width: 1000px;
    text-align: center;
    margin: 0 auto;
    position: relative;
}
#main-wrapper section,
.div
{
    vertical-align: middle;
    border-color: #C0C0C0;
    margin: 0;
    border-width: 0px;
    border-style: none solid;
    background-color: rgba(247, 247, 247, 0.700);
    padding-top: 15vh;
    height: 85vh;
    width: 100%;
}
#welcome
{
    margin-top: 20vh;
}
#errormsgbody
{
    padding: 5px;
}
.defaulttextbox
{
    background: #fff;
    border: 1px solid #ccc;
}
.left
{
    float: left;
}
.g-recaptcha
{
    margin-bottom: 20px;
    display: inline-block;
}
.form-error
{
    width: 400px;
    margin: 0 auto 10px auto;
    text-align: left;
}
.hide 
{
    display: none;
}
.show
{
    display: block;
}
.note
{
    margin-top: 10px;
}
form
{
    width: 400px;
    margin: 0 auto;
}
h1
{
    font-size: 3em;
    margin-bottom: 50px;
}
input[type="text"],
input[type="email"],
input[type="password"]
{
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
    outline: none;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    width: 100%;
    margin-bottom: 4%;
    padding: 3%;
    color: #555;
    font: 95% Arial, Helvetica, sans-serif;
}
input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus
{
    box-shadow: 0 0 5px #75C9E6;
    padding: 3%;
    border: 1px solid #75C9E6;
}

input[type="submit"],
input[type="button"]
{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    width: 100%;
    padding: 3%;
    background: #75C9E6;
    border-bottom: 2px solid #41B3D9;
    border-top-style: none;
    border-right-style: none;
    border-left-style: none;
    color: #fff;
}
input[type="submit"]:hover,
input[type="button"]:hover
{
    background: #41B3D9;
}
.content {
    padding: 0 50px;
    font-size: 18px;
}

.content p {
    margin-bottom: 10px;
}

form a {
    color: blue;
    text-decoration: underline;
}